

  <div class="ui four column centered row">
  <div class="column"> 
  <img class="ui centered aligned image"><%= image_tag('Trello_logo.jpg')%></div>
  </div>
<br/>
<br/>
  <div class="ui four column centered grid">
    <div class="column">
    </br>
      <h1> Say Hello, to Trello!</h1>
      <h3>A place where your to do lists,</h3>
      <h4>house projects, financial goals, </h4>
      <h4>and work projects are easily </h4>
      <h4>organized and prioritized. </h4>
    </div>
 

      <p><%= image_tag('trello.png') %></p>
    </div>
  </div>
  