<br/>

<h1 class="center-align"><%= image_tag('Trello_logo.jpg') %>

<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <p> Say Hello, to Trello!</p>
      <p>A place where your to do lists,</p>
      <p>house projects, financial goals, </p>
      <p>and work projects are easily </p>
      <p>organized and prioritized. </p>
    </div>
    <div class="column">
      <p><%= image_tag('Trello_logo.jpg') %></p>
    </div>
  </div>
 