<h2> <%= current_user.first_name %>'s Boards</h2>

<p><%= link_to 'New Board' , new_board_path %></p> 

      <% @boards.each do |board| %>
      <hr />
      
      <%= link_to board.name, board, class: "massive ui button blue" %>
        <% end %> 



