<h1>New Board</h1>
<%= form_for @board, :html => {:class => "form center"} do |f| %>

 <div class="form-group">

 <%= f.label :name, class: "form-label" %>

 <%= f.text_field :name, class: "form-control", autofocus: true %>

 </div>

 <%= f.submit class: 'btn btn-primary'%>

<% end %>